@model List<Prodotto>;

@{
    ViewData["Title"] = "Cart";
}   

<table>
    <thead>
        <tr>
            <th>Quantità</th>
            <th>Articolo</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var item in Model){  
                    <tr>
                    <td>@item.Quantità</td>
                    <td>@item.Articolo</td>
                    </tr>
                    }
        }
    </tbody>
    
</table>